<div class="d-flex flex-column gap-3" style="max-width: 400px; margin: 0 auto;">
    <a asp-controller="Echoes" asp-action="IndexAdmin" class="btn btn-outline-primary">Manage all Echoes</a>
    <a asp-controller="Flocks" asp-action="IndexAdmin" class="btn btn-outline-primary">Manage all Flocks</a>
    <a asp-controller="UserProfiles" asp-action="IndexAdmin" class="btn btn-outline-primary">Manage all Users</a>
</div>