<h2 class="text-center">Main Feed</h2>
<br />

@if(ViewBag.Message != null){

    <h2 class="p-3 rounded-3 text-center mb-5 alert @ViewBag.Type">@ViewBag.Message</h2>
}

@foreach (var echo in ViewBag.Echoes)
{
    @if (echo.CommParentId == null)
    {
        <partial name="EchoInfo" model="echo" />
    }
}


