
<div class="d-flex flex-row justify-content-between mb-3">
    <form method="post" asp-controller="Flocks" asp-action="MarkAllDeletedAdmin" onclick="event.stopPropagation();">
        <button class="btn btn-warning" type="submit">Mark All Flocks as Deleted</button>
    </form>

    <form method="post" asp-controller="Flocks" asp-action="DeleteAllAdmin" onclick="event.stopPropagation();">
        <button class="btn btn-danger" type="submit">Permanently Delete All Flocks</button>
    </form>
</div>

@foreach (var flock in ViewBag.Flocks)
{
    <partial name="FlockInfo" model="flock" />
}