@model BAtwitter_DAW_2526.Models.Flock


@if (ViewBag.Message != null)
{

    <h2 class="p-3 rounded-3 text-center mb-5 alert @ViewBag.Type">@ViewBag.Message</h2>
}

<br />


<div class="card shadow-sm mb-4 flock-card"
     data-flock-url="@Url.Action("Show", "Flocks", new { id = Model.Id })"
     style="cursor: pointer;">

<partial name="FlockInfo" model="@Model" />

</div>

@foreach (var echo in ViewBag.FlockEchoes)
{
    <partial name="EchoInfo" model="echo" />
}