@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">
        <b>
            Welcome to <img src="~/Resources/Images/logo_transparent_v11_fit.png" class="mb-4 pb-2" style="height: clamp(6.4vh, 75px, 120px); aspect-ratio: 1313/407; width:auto" alt="Site Logo">
        </b>
    </h1>
    <h2 class="display-6 fs-4">Use the sidebar to navigate to different pages!</h2>
</div>
